/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    background-color: #232c39;
    background-image: linear-gradient(
        45deg,
        rgba(0, 216, 255, .5) 10%,
        rgba(0, 1, 127, .7)
    );
    color: white;
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
}

h2 {
    color: #fff;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -.025em;
    margin: 0;
}

p {
    font-size: 24px;
}

li {
    list-style: none;
}

a {
    color: white;
    opacity: .75;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
}
